* {
  box-sizing: border-box;
  max-width: 100vw;
  /* outline: 1px solid red; */
}
html,
body {
  overflow-x: hidden;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
